@model IEnumerable<CampeonatoBrasileiro.Models.Game>

<table class="table">
    <tr>
        <th>
            
        </th>
        <th colspan="3">
            @Model.FirstOrDefault().Week ª RODADA
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td colspan="5">
            <small>@Html.DisplayFor(modelItem => item.DateTime)</small>  
        </td>
    </tr>
    <tr>
        <td>
            <img src="@item.HomeTeam.WikipediaLogoUrl" height="30" width="30" alt="@item.HomeTeamName"/>
        </td>
        <td>
            <strong>@item.HomeTeamScore</strong> 
        </td>
        <td>
            X
        </td>
        <td>
            <strong>@item.AwayTeamScore</strong>
        </td>
        <td>
            <img src="@item.AwayTeam.WikipediaLogoUrl" height="30" width="30" alt="@item.AwayTeamName"/>
        </td>
    </tr>
    <tr>
        <td colspan="5">
          <small>@Html.ActionLink("VEJA COMO FOI","Index","Jogo", new { gameid = item.GameId }, null)</small>
        </td>
    </tr>
}
</table>
